{% extends "allianceauth/base-bs5.html" %}

{% load i18n %}

{% block page_title %}
    {% translate "Fortunaisk Administration" %}
{% endblock %}

{% block header_nav_brand %}
    {% translate "Fortunaisk" %}
{% endblock %}

{% block header_nav_collapse_left %}
    {% include "fortunaisk/partials/navigation/top-navigation.html" %}
{% endblock %}

{% block header_nav_collapse_right %}
    {% include "fortunaisk/partials/navigation/actions.html" %}
{% endblock %}

{% block content %}
    <div class="fortunaisk">
        <div class="fortunaisk-header">
            <h2>{% translate "Administration Dashboard" %}</h2>
        </div>

        <div class="fortunaisk-body">
            <div class="row">
                <div class="col-md-6">
                    <h3>{% translate "Tickets Overview" %}</h3>
                    <p>{% translate "Manage tickets for all users." %}</p>
                </div>
                <div class="col-md-6">
                    <h3>{% translate "Winners Overview" %}</h3>
                    <p>{% translate "View and manage winners." %}</p>
                </div>
            </div>
        </div>

        <div class="fortunaisk-footer mt-3 pt-3 border-top border-light">
            {% include "fortunaisk/partials/footer/app-translation-footer.html" %}
        </div>
    </div>
{% endblock %}
