{% extends "allianceauth/base.html" %}
{% load i18n %} <!-- Ajoutez cette ligne pour charger le module de traduction -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FortunaISK{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'fortunaisk:main_view' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'fortunaisk:history_view' %}">{% trans "Winners History" %}</a></li>
            </ul>
        </nav>
        <h1>{% block title %}FortunaISK - Alliance Auth{% endblock %}</h1>
    </header>
    <main>
        {% block fortuna_content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Alliance Auth</p>
    </footer>
</body>
</html>
