{% extends "fortunaisk/base.html" %}
{% load i18n %}
{% load humanize %}  <!-- Charger le module humanize -->
<!-- FortunaISK Main Page -->
{% block fortuna_content %}
<div class="text-center">
    <h2>{% trans "Welcome to FortunaISK Lottery!" %}</h2>
    <p>{% trans "Current Jackpot:" %} <strong>{{ jackpot|intcomma }} ISK</strong></p>

    {% if user_participation %}
        <p>{% trans "You are already participating in this month's lottery!" %}</p>
    {% else %}
        <p>{% trans "Buy a ticket to participate in the lottery!" %}</p>
    {% endif %}
</div>
{% endblock fortuna_content %}
