<!-- fortunaisk/templates/fortunaisk/menu.html -->
{% extends "allianceauth/base.html" %}
{% load i18n %}

{% block title %}FortunaISK{% endblock title %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'current_lottery' %}active{% endif %}"
                       href="{% url 'fortunaisk:current_lottery' %}">
                       <i class="fa fa-ticket" aria-hidden="true"></i> {% translate "Current Lottery" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'winners_history' %}active{% endif %}"
                       href="{% url 'fortunaisk:winners_history' %}">
                       <i class="fa fa-trophy" aria-hidden="true"></i> {% translate "Winners History" %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            {% block fortunaisk_content %}{% endblock fortunaisk_content %}
        </div>
    </div>
</div>
{% endblock content %}
