{% extends "allianceauth/base-bs5.html" %}
{% load i18n %}

{% block page_title %}
    {% translate "My Tickets" %}
{% endblock %}

{% block header_nav_brand %}
    {% translate "Fortunaisk" %}
{% endblock %}

{% block header_nav_collapse_left %}
    {% include "fortunaisk/partials/navigation/top-navigation.html" %}
{% endblock %}

{% block header_nav_collapse_right %}
    {% include "fortunaisk/partials/navigation/actions.html" %}
{% endblock %}

{% block content %}
<div class="fortunaisk">
    <h2>{% translate "My Tickets" %}</h2>
    <table>
        <thead>
            <tr>
                <th>{% translate "Reference" %}</th>
                <th>{% translate "Amount" %}</th>
                <th>{% translate "Paid" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.ticket_ref }}</td>
                <td>{{ ticket.amount }}</td>
                <td>{{ ticket.paid }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">{% translate "No tickets available" %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
