{% extends "allianceauth/base.html" %}
{% load i18n %}
{% block page_title %}
    {% translate "My Tickets" %}
{% endblock page_title %}
{% block content %}
    <br />
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">{% translate "Toggle navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'fortunaisk:tickets_list' %}">{% translate "My Tickets" %}</a>
            </div>
        </div>
    </nav>

    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">{% translate "Tickets Overview" %}</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% translate "Reference" %}</th>
                            <th>{% translate "Amount" %}</th>
                            <th>{% translate "Paid" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in tickets %}
                            <tr>
                                <td>{{ ticket.ticket_ref }}</td>
                                <td>{{ ticket.amount }}</td>
                                <td>
                                    {% if ticket.paid %}
                                        <span class="text-success">{% translate "Yes" %}</span>
                                    {% else %}
                                        <span class="text-danger">{% translate "No" %}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
