{% extends "allianceauth/base.html" %}
{% load i18n %}
{% block page_title %}
    {% translate "Winners" %}
{% endblock page_title %}
{% block content %}
<div class="container">
    <h2>{% translate "Winners" %}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% translate "Character" %}</th>
                <th>{% translate "Ticket" %}</th>
                <th>{% translate "Won At" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for winner in winners %}
                <tr>
                    <td>{{ winner.character }}</td>
                    <td>{{ winner.ticket.ticket_ref }}</td>
                    <td>{{ winner.won_at|date:"Y-m-d H:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
