{% extends "allianceauth/base-bs5.html" %}

{% load i18n %}

{% block page_title %}
    {% translate "Winners" %}
{% endblock %}

{% block header_nav_brand %}
    {% translate "Fortunaisk" %}
{% endblock %}

{% block header_nav_collapse_left %}
    {% include "fortunaisk/partials/navigation/top-navigation.html" %}
{% endblock %}

{% block header_nav_collapse_right %}
    {% include "fortunaisk/partials/navigation/actions.html" %}
{% endblock %}

{% block content %}
    <div class="fortunaisk">
        <div class="fortunaisk-header">
            <h2>{% translate "Winners" %}</h2>
        </div>

        <div class="fortunaisk-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{% translate "Character" %}</th>
                        <th>{% translate "Ticket" %}</th>
                        <th>{% translate "Won At" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for winner in winners %}
                    <tr>
                        <td>{{ winner.character }}</td>
                        <td>{{ winner.ticket.ticket_ref }}</td>
                        <td>{{ winner.won_at|date:"Y-m-d H:i" }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">{% translate "No winners available" %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="fortunaisk-footer mt-3 pt-3 border-top border-light">
            {% include "fortunaisk/partials/footer/app-translation-footer.html" %}
        </div>
    </div>
{% endblock %}
