{% extends "allianceauth/base-bs5.html" %}

{% load i18n %}

{% block page_title %}
    {% translate "Winners" %}
{% endblock %}

{% block content %}
<div class="fortunaisk">
    <div class="fortunaisk-header">
        <h2>{% translate "Winners" %}</h2>
    </div>

    <div class="fortunaisk-body">
        <table class="table">
            <thead>
                <tr>
                    <th>{% translate "Character" %}</th>
                    <th>{% translate "Ticket" %}</th>
                    <th>{% translate "Won At" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for winner in winners %}
                <tr>
                    <td>{{ winner.character }}</td>
                    <td>{{ winner.ticket.ticket_ref }}</td>
                    <td>{{ winner.won_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
