# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
venv/
build/
dist/

# Django
*.log
*.pot
*.pyc
*.swp
db.sqlite3

# VSCode
.vscode/

# Byte-compiled / optimized / DLL files
*.pyd
*.pyo

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Celery stuff:
celerybeat-schedule
celerybeat.pid

# Pytest
.cache/
.pytest_cache/
